.home {
	width: 100%;
	max-width: 1300px;
	height: auto;
	margin: 0 auto;
	padding-right: 64px;
}

.main-swiper {
	position: relative;
	width: 100%;
	height: 350px;
	border-radius: 0.625rem;
	overflow: hidden;
}

.swiper-slide img {
	display: block;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.slide-caption {
	position: absolute;
	bottom: 20%;
	left: 5%;
	max-width: 50%;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 0.625rem;
}

.swiper-button-next,
.swiper-button-prev {
	width: 50px;
	height: 50px;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 50%;
	margin-top: 0; /* 清除原本預設的樣式 */
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 1.25rem;
	font-weight: bold;
}

.swiper-pagination-bullets {
	bottom: 0.25rem !important; /* 讓它顯示在圖片外面下方 */
}

.swiper-pagination-bullet {
	width: 0.75rem;
	height: 0.75rem;
	margin: 0 0.5rem !important;
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	background: var(--primary);
	opacity: 1;
}

.thumbs-swiper {
	margin-top: 0.625rem;
}

.thumbs-swiper img {
	width: 100%;
	height: 5rem;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 0.625rem;
	cursor: pointer;
	transition: 300ms ease-in-out;
	filter: brightness(0.5);
}

.swiper-slide-thumb-active img {
	filter: brightness(1);
}

.thumbs-swiper img:hover {
	filter: brightness(0.7);
}

.home_container {
	width: 100%;
	margin-top: 1rem;
	padding: 1rem;
	background: var(--base-bg);
	border: 1px solid var(--primary-bd);
	/* border-radius: 0.625rem; */
}

.home_heading {
	text-align: center;
	width: fit-content;
	margin-inline: auto;
	padding: 0.75rem 1rem;
	color: var(--primary);
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 1px;
}

@media (max-width: 992px) {
	.home {
		padding-right: 0px;
	}

	.main-swiper {
		height: 200px;
		border-radius: 0.625rem;
		overflow: hidden;
	}

	.slide-caption {
		bottom: 1rem;
		left: 1rem;
		max-width: 100%;
		padding: 0.5rem;
		font-size: 0.875rem;
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 40px;
		height: 40px;
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		font-size: 1rem;
	}

	.swiper-pagination-bullet {
		width: 0.625rem;
		height: 0.625rem;
		margin: 0 0.5rem !important;
		opacity: 0.5;
	}

	.thumbs-swiper {
		margin-top: 0.25rem;
	}

	.thumbs-swiper img {
		width: 100%;
		height: 40px;
		border-radius: 0.625rem;
		cursor: pointer;
		transition: 300ms ease-in-out;
	}
}
